@font-face {
    font-family: 'Windows XP Tahoma';
    src: url('WindowsXPTahoma.woff2') format('woff2'),
        url('WindowsXPTahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

