@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('Fredoka-Regular.woff2') format('woff2'),
    url('Fredoka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Windows XP Tahoma';
    src: url('WindowsXPTahoma.woff2') format('woff2'),
    url('WindowsXPTahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('FranklinGothic-Book.woff2') format('woff2'),
    url('FranklinGothic-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}